# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
env/
myenv/
.venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Coverage Reports
# =========================
.coverage
htmlcov/

# =========================
# Logs
# =========================
*.log

# =========================
# SQLite Databases
# =========================
*.db
*.sqlite3

# =========================
# Alembic
# =========================
alembic/versions/*.pyc

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Mypy
# =========================
.mypy_cache/

# =========================
# Ruff
# =========================
.ruff_cache/